.drinks-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em;
  margin-top: .5em;

  .drink-card-component {
    padding: .2em;
    border: 2px solid;
  }
}

// .drink-card-component::before {
//   content: '';
//   position: absolute;
//   background-color: red;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 1;
// }