.drinks-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em;
  margin-top: .5em;

  .drink-card-component {
    padding: .2em;
    border: 2px solid;
  }
  .drink-card-component:hover{
    background-color: rgba(204, 204, 204, 0.808);
  }
}